* {

    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
}

body{
    background-image: url(images/background.jpg);
    text-align: center;
    width: 80%;
    margin: 10%;
}

form{
    color: aliceblue;
    border: 10px solid rgba(153, 153n, 153, 0.6);
}

form > div {
    margin: 30px 20px;
}

label{
    display: block;
    margin-bottom: 8px;
}

input{
    height: 20px;
    width: 40%;
}

button {
    margin-left : 20px;
    margin-bottom: 30px;
    padding: 10px 32px;
    cursor: pointer;
}

.message-error {

    border: 1px solid rgba(212, 42, 0, 1);
    color: rgb(212, 42, 0);
    background-color: rgba(212, 42, 0, 0, 4);
    padding: 16px 32px;
    margin-left: 25%;
    margin-right: 25%;
    display: none;
}

.message-success {

    border: 1px solid rgb(81, 150, 2) ;
    color: rgb(81, 150, 2);
    background-color: rgba(113, 212, 0, 0, 4);
    padding: 16px 32px;
    margin-left: 25%;
    margin-right: 25%;
    display: none;
}

.visible{
    display: block;
}

.wrong{
    background-color: red;
}

.success{
    border: 1px solid rgb(81, 150, 2);
    background-color: rgb(11, 205, 24);
}

.pages{
    font-size: x-large;
    color: aliceblue;
}
